<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Translate</title>
</head>
<body>
<div id="SRC">
<textarea id="srcText" name="srcText " style="width:800px; height:180px;" placeholder="请输入中文句子">
</textarea>

<button id="Click" name="Click" style="width:80px;height:40px;" οnclick="ajaxForm()">实体抽取</button>
</div>

<br />
<hr />
<div id="DST">
<textarea id="dstText" name="dstText" style="width:800px; height:180px;" placeholder="实体">
</textarea>
</div>

<h1>
	{{ name }}
</h1>
</body>

<script type="text/javascript">

$("#Click").click(function (){

var contents = $("#srcText").val() ;


$.ajax({
	   type:"post",
	   async:false,
	   url:"/",
	   dataType:"json",
	   data: contents,
	   success:function(json , status){
			//alert("here is the status :"+status) ;
			$("#dstText").empty() ;

			for ( var i = 0 ; i < json.trans_result.length ; i++ )
			{
			$("#dstText").append( json.trans_result[i].dst  +" <br />") ;
			}
		//	alert(json.trans_result[0].dst +" <br /> "+json.trans_result[0].src) ;

	  },
	  error:function(){
		  alert('Fail to translate with baidu API!');
	  }
});
}) ;

</script>
</html>